## Optional: runtime flags
MODELENCE_CRON_ENABLED="true"
MODELENCE_TELEMETRY_ENABLED="false"
MODELENCE_TRACKING_ENABLED="false"

## Optional: Modelence Cloud sync (leave unset for local-only)
# Docs: https://docs.modelence.com/
MODELENCE_ENVIRONMENT_ID="xxx"
MODELENCE_SERVICE_ENDPOINT="https://cloud.modelence.com"
MODELENCE_SERVICE_TOKEN="xxx"
MODELENCE_CONTAINER_ID="xxx"
